body {
  background-color: #F4F5F5;
  font-family: 'PT Sans', sans-serif;
}
body .header {
  padding-top: 3%;
}
body .header div {
  margin-bottom: 20px;
}
body .header .logo img {
  margin-left: 10%;
  max-width: 200px;
  height: auto;
}
body .header h1 {
  padding-top: 5%;
  font-family: 'Fjalla One', sans-serif;
  color: #d22f25;
  font-size: 60px;
  letter-spacing: 1.5px;
}
body .parallax-window {
  min-height: 500px;
  background: transparent;
  padding: 0px;
  margin-bottom: 0px;
}
body .parallax-window .btn {
  font-size: 40px;
  color: #424747;
  background-color: rgba(126, 143, 124, 0.82);
  padding: 10px 20px;
  margin-top: 10%;
}
body .parallax-window .btn:hover {
  background-color: #7E8F7C;
  transform: scale(1.025);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all .2s;
}
body #nav {
  background-color: #7E8F7C;
  margin: 0px;
  width: 100%;
}
body #nav .navbar {
  margin-bottom: 0;
}
body #nav .nav {
  width: 100%;
  margin-left: 18%;
}
body #nav .nav a {
  color: white;
  font-size: 20px;
  padding: 15px 40px;
}
body #secondaryNav.affix {
  background-color: #7E8F7C;
  margin: 0px;
  width: 100%;
  z-index: 10;
}
body #secondaryNav.affix .navbar {
  margin-bottom: 0;
}
body #secondaryNav.affix .nav {
  margin-left: 0%;
}
body #secondaryNav.affix .nav a {
  color: white;
  font-size: 20px;
}
body #nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
body .whatWeDoDiv {
  margin-top: 3%;
}
body .whatWeDoDiv .mainPimg {
  margin: 5% 0%;
}
body .emailContainer {
  padding: 5%;
}
body .emailContainer .form-control {
  width: 70%;
}
body .meetOurTeamContainer .profile {
  padding: 4%;
}
body .meetOurTeamContainer .profile img {
  max-width: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(59, 54, 54, 0.84);
}
body .profileContainer #mainArea {
  margin-top: 10%;
}
body .profileContainer #carousel-bounding-box {
  background-color: #0F1723;
}
body .contactContainer {
  background-color: #424747;
  color: white;
  position: absolute;
  margin-bottom: 0px;
  width: 100%;
}
body .contactContainer .contactRowInfo {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
}
body .contactContainer .contactRowInfo .subscriptionInput {
  width: 50%;
}
body .contactContainer .contactRowInfo button {
  padding: 10px 20px;
  background-color: #d22f25;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  box-shadow: 1px 1px 4px rgba(59, 54, 54, 0.84);
}
body .contactContainer .contactRowInfo button:hover {
  transform: scale(1.025);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all .2s;
}
body .contributeBackground {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
body .contributeBackground img {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
body #contributeContainer {
  height: 500px;
  margin-top: 11%;
  margin-bottom: 5%;
  color: #EDF1F1;
}
body #contributeContainer h1 {
  margin-bottom: 5%;
  font-size: 50px;
}
body #contributeContainer p {
  margin: 2% 13% 8% 13%;
  font-size: 22px;
}
body #contributeContainer .donate {
  width: 250px;
  height: 100px;
  padding: 20px 20px;
  background-color: #d22f25;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  box-shadow: 1px 1px 4px rgba(59, 54, 54, 0.84);
}
body #contributeContainer .donate:hover {
  background-color: #F93D33;
  transform: scale(1.035);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all .3s;
}
body .contributeFooter {
  background-color: #EDF1F1;
  position: absolute;
  margin-bottom: 0px;
}
body .contributeFooter h3 {
  font-size: 30px;
  color: #0F1723;
  margin: 5%;
}
body .contributeFooter p {
  color: #0F1723;
  font-size: 20px;
  margin: 0% 20% 8% 20%;
}
body .contributeFooter .copyright {
  background-color: #424747;
}
body .contributeFooter .copyright p {
  font-size: 15px;
  color: #EDF1F1;
  letter-spacing: 0.7px;
  margin-bottom: 4%;
}
body .contributeFooter .contributeContactRow {
  letter-spacing: 1px;
  padding-top: 2%;
  padding-bottom: 3%;
  background-color: #424747;
}
body .contributeFooter .contributeContactRow .subscription {
  padding: 0% 7%;
}
body .contributeFooter .contributeContactRow .subscription p {
  color: #EDF1F1;
  margin: 0;
  margin-bottom: 4%;
  text-align: left;
}
body .contributeFooter .contributeContactRow .subscription input {
  width: 60%;
  border-radius: 3px;
  color: #0F1723;
}
body .contributeFooter .contributeContactRow .emailAddress p {
  color: #EDF1F1;
  text-align: right;
  margin: 0% 0% 3% 0%;
}
body .footerContainer {
  background-color: #424747;
  color: white;
}
body .footerContainer .bottomRow {
  margin-bottom: 4%;
  margin-top: 4%;
}
body .footerContainer footer {
  text-align: center;
  margin-bottom: 15px;
}
body .hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}
