@red :#d22f25;
@translucentRed: rgba(210, 47, 37, 0.62);
@darkRed: #441717;

@green: #7E8F7C;
@translucentGreen: rgba(126, 143, 124, 0.82);
@lightBlue: #F4F5F5;
@gray: #424747;
@lightGray: #EDF1F1;
@darkBlue: #0F1723;


/*@yellow: #ECE691;
@blue: #3f83a1;
@red: #e84234;
@green: #7E8F7C;

@lightYellow: #F9F7E6;
@lightBlue: #C9E5F1;
@lightRed:#F7C7C4;
@lightGreen:#CEDACD;

@translucentGreen: rgba(126, 143, 124, 0.83);
@translucentRed: rgba(232, 66, 52, 0.83);
@translucentYellow: rgba(236, 230, 145, 0.8);*/


body {

	#bg {
		min-height: 100%;
  		min-width: 1024px;
  		width: 100%;
 		height: auto;
    	position: fixed;
		top: 0;
		left: 0;
	}

	background-color: white;
	font-family: 'PT Sans', sans-serif;

	.header {
		padding-top: 3%;

		div {
			margin-bottom: 20px;
		}

		.logo {
			img {
			margin-left:10%;
			max-width:200px;
			height:auto;

			}

		}
		h1 {
			padding-top: 5%;
			font-family: 'Fjalla One', sans-serif;
			color: @red;
			font-size: 60px;
			letter-spacing: 1.5px;
		}
	}

	#secondaryNav.affix {
		background-color: @translucentGreen;
	    margin: 0px;
	    width: 100%;
	    z-index: 10;
		    .navbar {
		    	margin-bottom: 0;
		    }
	    	.navbar-nav {

	    		margin-left: 0%;
		    	a {
		    		color: @lightGray;
		    		text-decoration: none;
		    		font-size: 20px;
		    	}
		    	a:hover {
		    		color:@red;
		    	}
		    }
	}

	#nav.affix {
		position: fixed;
		top: 0;
		width: 100%;
		z-index:10;
	}

	#nav {
		.navbar .navbar-nav {
		  display: inline-block;
		  float: none;
		  vertical-align: top;
		}

		.navbar .navbar-collapse {
		  text-align: center;
		}
	}

	#nav {
		background-color: @translucentGreen;
	    margin: 0px;
	    width: 100%;
	    .navbar {
	    	margin-bottom: 0;
	    }

	    .nav {
	    	a {
	    		color: @lightGray;
	    		font-size: 20px;
	    		padding: 15px 40px;
	    	}
	    	a:hover {
		    	color:@red;
		    }
	    }
	}

	.parallax-window {
		min-height: 500px;
		background: transparent;
		padding: 0px;
		margin-bottom: 0px;

		
		.btn {
		    font-size: 50px;
		    color: @red;
		    background-color: #f7f1f0;
		    padding: 12px 24px;
		    margin-top: 12%;
		    box-shadow: 2px 2px 10px rgba(15, 14, 14, 0.74);
		}
		.btn:hover {
			background-color: @green;
			color:@darkBlue;
			transform: scale(1.025);
  			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  			transition: all .2s;
		}

	}


	.whatWeDoDiv {
		margin-top: 3%;

		.mainPimg {
			margin: 5% 0%;
			img {
				height: 250px;
				border-radius:360px;
				box-shadow: 1px 2px 7px grey;
			}
		}
		h1 {
			color:@green;
			font-size: 60px;
		    letter-spacing: 2.5px;
		    margin-bottom: 3%;
		    text-shadow: 1px 2px 7px #aba1a1;
		}
		h2 {
			color:@red;
			font-size: 35px;
		    font-weight: bolder;
		    letter-spacing: 1.5px;
		    text-shadow: 1px 2px 7px #aba1a1;
		}
		p {
			letter-spacing: 0.7px;
    		padding: 0 20px;
    		margin-top: 25px;
    		margin-bottom:25px;
		}
	}	

	.emailContainer {
		padding: 5% 7%;
		form {
			label.subscribeHome {
				font-size: 30px;
				font-weight: lighter;
			}
			input {
				float:right;
				width: 60%;
				border-radius:3px;
				padding: 5px 10px;
			}
			.clear {
				clear: both;
				input {
					border: none;
					background-color:@green;
					color:@lightGray; 
					box-shadow: 1px 2px 7px grey;
					letter-spacing: 1px;
				}
			}
		}

		.getInTouch {
			padding: 0 5%;
			text-align: left;
			h1 {
				margin:0;
			}

			div {
				margin-right:15%;
				text-align: right;
				h3{
					color:@darkRed;
					margin-right: 10%;
				} 
				p {
					color:@darkRed;
					margin-left:4%;
					font-size: 20px;
					span {
						color:@red;
						font-weight: bold;
					}
				}
			}

			h1 {
				color:@darkBlue;
			}
		}

		.subscribe {
			h1 {
			color:@darkBlue;
			text-align: right;
			}
			.form-control {
				width:70%;
				float:right;
				margin:2% 0;
			}
			.submitButton {
				clear:both;
				float:right;
			}
		}
	}

	.meetOurTeamContainer {
		text-shadow: 1px 2px 7px #aba1a1;
		.row {
			margin-top: 5%;
		}
		.profile {
			padding: 4%;
			img {
				max-width: 80%;
				border-radius: 360px;
				box-shadow: 1px 1px 8px rgba(59, 54, 54, 0.74);
			}
			h1 {
				color:@red;
			}
			p {
				letter-spacing: 1px;
				line-height: 20px;
			}
		}

	}

	.profileContainer {
		margin-bottom: 5%;
		text-shadow: 1px 2px 7px #aba1a1;
		.studentsH1 {
			margin-top: 6%;
			margin-bottom: 4%;
		}
		.studentInfo {
			margin-top:-20px;
			.thumbnails {
				margin: 2%;
    			margin-bottom: 5%;
    			.thumbnail {
    				margin:5%;
    			}
			}
		}
		#carousel-text {
			h2 {
				font-size: 45px;
				font-weight: bold;
				color: @red;
				letter-spacing: 2.5px;
			}
		}
		.carousel-control {
			background: none !important;
		}

		.hide-bullets {
			list-style: none;
			margin-left: -40px;
			margin-top: 4%;
			li {
				padding-left: 0;
				padding-right:20px;
				.thumbnail {
					border: none;
					box-shadow: 1px 1px 4px rgba(59, 54, 54, 0.84);
					background-color: none;
					padding:0px;
					margin-left: 0;
				}
			}
		}
	}

	.contactContainer {
		background-color: @gray;
		color: white;
		position: absolute;
    	width: 100%;
    	padding: 1% 5%;
		.contactRowInfo {
			margin-top: 2%;
			margin-bottom: 2%;
			display: flex;
    		align-items: center;
    		p {
    			margin:0;
    			font-size: 17px;
    		}
    		form {
    			label {
    				font-weight: lighter;
    			}
				input {
					float:right;
					width: 50%;
					border-radius:3px;
					padding: 5px 5px;
				}
				.clear {
					clear: both;
					input {
						border: none;
						background-color:@green;
						color:@lightGray; 
						box-shadow: 1px 2px 7px #272525;
						letter-spacing: 1px;

					}
				}
    		}
			button {
				padding:10px 20px;
				background-color: @red;
				border: none;
			    border-radius: 3px;
			    box-shadow: 1px 1px 4px rgba(59, 54, 54, 0.84);
			    a {
			    	font-size: 30px;
			    	text-decoration: none;
			    	color:@lightGray;
			    }
			}
			button:hover {
				transform: scale(1.025);
	  			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
	  			transition: all .2s;
			}
		}
	}


	.contributeBackground {
		position: fixed; 
		top: -50%; 
		left: -50%; 
		width: 200%; 
		height: 200%;
		img {
			-webkit-filter: blur(5px);
			-moz-filter: blur(5px);
			-o-filter: blur(5px);
			-ms-filter: blur(5px);
			filter: blur(2px);
			position: absolute; 
			top: 0; 
			left: 0; 
			right: 0; 
			bottom: 0; 
			margin: auto; 
			min-width: 50%;
			min-height: 50%;
		}
		
	}
	#contributeContainer {
		margin-top: 11%;
		margin-bottom: 5%;
		color: @lightGray;
		text-shadow: 1px 2px 7px #4e4949;
		h1 {
			margin-bottom: 5%;
			font-size: 50px;
		}
		p {
			margin: 2% 13% 8% 13%;
			font-size: 22px;
		}
		select {
			color: black;
    		margin-bottom: 5%;
		}
		.donate {
			width: 250px;
			height: 100px;
			padding:20px 20px;
			background-color: @red;
			border: none;
		    border-radius: 3px;
		    font-size: 35px;
		    box-shadow: 1px 1px 4px rgba(59, 54, 54, 0.84);
		}
		.donate:hover {
			background-color: #F93D33;
			transform: scale(1.035);
  			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  			transition: all .3s;
		}
		img {
			max-width: 250px;
    		margin-top: 5%;
		}
	}

	.copyright {
		div {
			margin-top:4%;
			p {
				font-size: 14px;
				color: white;
				letter-spacing: 0.7px;
				margin-bottom: 4%;
			}
		}
	}

	.contributeFooter {
		background-color: white;
		position: absolute;
		margin-bottom: 0px;

		h3 {
			font-size: 30px;
			color: @darkRed;
			margin: 5%;
		}
		p {
			color: @darkRed;
			font-size: 20px;
			margin: 0% 20% 8% 20%;
		}
		.contributeContactRow {
			letter-spacing: 1px;
			padding-top: 2%;
			background-color: @gray;
			.subscription {
				padding: 0% 7%;
				color:@lightGray;
				text-align: left;
				form {
					label {
						font-weight: lighter;
					}
					input {
						width:60%;
						border-radius: 3px;
						padding: 5px 10px;
						color: @lightGray;
					}
					.button {
						border: none;
						background-color:@green;
						color:@lightGray; 
						box-shadow: 1px 2px 7px #272525;
						letter-spacing: 1px;
					}
				}
			}
			.emailAddress {	
				padding: 0 7%;
				p {
					color: @lightGray;
					text-align: right;
					margin: 0;
					margin-top:2%;
				}
			}
		}
	}



	.footerContainer {
		background-color: @green;
		color: white;

		.bottomRow {
		    margin-bottom: 3%;
		    margin-top: 3%;

		    .bronzeImg {
		    	margin-top: 2%
		    }
		    p {
		    	font-size: 16px;
		    }
		}

		footer {
			text-align: center;
			margin-bottom: 20px;
		}
	}

	.contactPageContainer {
		.row:nth-child(1) {
			margin-top: 5%;
		}
		color: @darkRed;
		h1 {
			font-size: 50px;
			margin-bottom: 3%;
			margin-left: 5%;
		}
		h2 {
			font-size: 35px;
		}
		h3 {
			margin-left: 7%;
			margin-bottom:3%;
		}
		div {
			p {
				font-size: 20px;
				margin-bottom:2%;
				color:@red;
			}
		}
		text-shadow: 1px 2px 7px #aba1a1;
		.usa {
			padding-left: 10%;
		}
		.kenya {
			padding-right: 10%;
		}
		iframe {
			border: 1px;
    		border-radius: 3px;
			box-shadow: 1px 2px 7px gray;
		}
		.contactFooter {
			margin-top: 5%;
			div {
				position: relative;
    			bottom: 0;
    			h4 {
    				font-size:15px;

    			}
			}
		}
	}

}








@media screen and (max-width: 990px) {
	.profile {
		h1 {
			margin: 8% 20%;
		}
	}

}

@media screen and (max-width: 768px) {
	body {
		.header {
			div {
				display: flex;
		    	flex-direction: row;
		    	margin-bottom: 10px;

		    	h1 {
		    		font-size:32px;
		    		padding-top:0;
		    		text-align:right;
		    	}
			}

			.logo img {
				margin-left: 0%;
	    		max-width: 100px;
	    		max-height: 82px;
	    		margin-top:20px;	

    		}
		}
		.parallax-window {
			min-height: 160px;
			.btn {
				font-size:38px;
			}
		}
		.whatWeDoDiv {
			h1 {
				font-size: 40px;
			}
			h2 {
				font-size: 30px;
				color:@red;
			}
		}
		#nav {
			.nav {
				a {
					font-size:15px;
					padding: 10px 0;
				}
			}
		}
		#secondaryNav.affix {
			.navbar-nav {
				a {
					font-size: 15px;
				}
			}
		}
		.emailContainer {
			.subscribe {
				h1 {
					text-align:left;
					font-size:25px;
				}
			}
			.getInTouch {
				h1 {
					font-size:25px;
					}
				div {
					margin-right:0;
					p {
						font-size: 15px;
					}
				}
			}
		}
		.footerContainer {
			.bottomRow {
				h1 {
					font-size: 20px;
				}
				p {
					font-size:12px;
				}
			}
		}
		.profileContainer {

			#carousel-text {
				h2 {
					margin-left:0;
					margin-top:30px;
				}
			}
			h1 {
			    margin-top: 15%;
			    font-size: 22px;
			}
		}
		.vidBackground {
			padding:10px;
		}
		.contactContainer {
			.contactRowInfo {
				display:block;
				padding: 20px;


			}
		}
		.meetOurTeamContainer {
			.row {
				margin-top:20%;
			}
		}
		#contributeContainer {
			h1 {
				font-size: 40px;
    			margin-top: 15%
			}
			p {
				margin: 2% 7% 8% 7%;
			    font-size: 15px;
			}
			.donate {
				font-size: 14px;
    			margin: 5% 6%;
    			width:150px;
    			height:60px;
			}
			img {
				max-width: 140px;
    			margin-top: 0%;
			}
			select {
				color:@translucentGreen;
				margin-top:5%;
			}
		}
		.contributeFooter {
			.taxExempt {
				padding:7% 0;
			}
			.copyright {
				p {
					font-size:12px;
				}
			}
			.contributeContactRow {
				padding-top:5%;
				padding-bottom: 0;
				.emailAddress {
					p {
						text-align: center;
					}
				}
				.subscription {
					input {
						width: 80%;
					    margin: 0 10%;
					}
				}

			}
			p {
				font-size: 14px;
	    		margin: 5% 6%;
			}
		}
		.contactPageContainer {
			h1 {
				font-size:40px;
				margin-top: 23%;
				margin-bottom:2%;
			}
			h3 {
				font-size:16px;
			}
			div {
				p {
					margin-bottom:3%
				}
			}
			.usa {
				padding:0;
			}
			.kenya {
				padding:0;
			}
			.contactFooter {
				div {
					position:relative;
					h4 {
						font-size: 12px;
					}
				}
			}
		}
	}



	.navbar-toggle {
		font-size:20px;
		letter-spacing: 1.5px;
		padding:0;
		margin-right:0;
	}

/*	#contributeContainer p {
		margin: 2% 7% 8% 7%;
		font-size: 16px;
	}*/
}
