/*@yellow: #ECE691;
@blue: #3f83a1;
@red: #e84234;
@green: #7E8F7C;

@lightYellow: #F9F7E6;
@lightBlue: #C9E5F1;
@lightRed:#F7C7C4;
@lightGreen:#CEDACD;

@translucentGreen: rgba(126, 143, 124, 0.83);
@translucentRed: rgba(232, 66, 52, 0.83);
@translucentYellow: rgba(236, 230, 145, 0.8);*/
body {
  background-color: white;
  font-family: 'PT Sans', sans-serif;
}
body .header {
  padding-top: 3%;
}
body .header div {
  margin-bottom: 20px;
}
body .header .logo img {
  margin-left: 10%;
  max-width: 200px;
  height: auto;
}
body .header h1 {
  padding-top: 5%;
  font-family: 'Fjalla One', sans-serif;
  color: #d22f25;
  font-size: 60px;
  letter-spacing: 1.5px;
}
body #secondaryNav.affix {
  background-color: rgba(126, 143, 124, 0.82);
  margin: 0px;
  width: 100%;
  z-index: 10;
}
body #secondaryNav.affix .navbar {
  margin-bottom: 0;
}
body #secondaryNav.affix .navbar-nav {
  margin-left: 0%;
}
body #secondaryNav.affix .navbar-nav a {
  color: #EDF1F1;
  text-decoration: none;
  font-size: 20px;
}
body #nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
body #nav .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
body #nav .navbar .navbar-collapse {
  text-align: center;
}
body #nav {
  background-color: rgba(126, 143, 124, 0.82);
  margin: 0px;
  width: 100%;
}
body #nav .navbar {
  margin-bottom: 0;
}
body #nav .nav a {
  color: #EDF1F1;
  font-size: 20px;
  padding: 15px 40px;
}
body .parallax-window {
  min-height: 500px;
  background: transparent;
  padding: 0px;
  margin-bottom: 0px;
}
body .parallax-window .btn {
  font-size: 50px;
  color: #424747;
  background-color: #d22f25;
  padding: 12px 24px;
  margin-top: 12%;
  box-shadow: 2px 2px 10px rgba(15, 14, 14, 0.74);
}
body .parallax-window .btn:hover {
  background-color: #7E8F7C;
  color: #0F1723;
  transform: scale(1.025);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all .2s;
}
body .whatWeDoDiv {
  margin-top: 3%;
}
body .whatWeDoDiv .mainPimg {
  margin: 5% 0%;
}
body .whatWeDoDiv h1 {
  color: #7E8F7C;
  font-size: 60px;
  letter-spacing: 2.5px;
  margin-bottom: 3%;
  text-shadow: 1px 2px 7px #aba1a1;
}
body .whatWeDoDiv h2 {
  color: #424747;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  text-shadow: 1px 2px 7px #aba1a1;
}
body .whatWeDoDiv p {
  letter-spacing: 0.7px;
  padding: 0 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}
body .emailContainer {
  padding: 5% 7%;
}
body .emailContainer form label.subscribeHome {
  font-size: 30px;
  font-weight: lighter;
}
body .emailContainer form input {
  float: right;
  width: 60%;
  border-radius: 3px;
  padding: 5px 10px;
}
body .emailContainer form .clear {
  clear: both;
}
body .emailContainer form .clear input {
  border: none;
}
body .emailContainer .getInTouch {
  padding: 0 5%;
  text-align: left;
}
body .emailContainer .getInTouch h1 {
  margin: 0;
}
body .emailContainer .getInTouch div {
  margin-right: 15%;
  text-align: right;
}
body .emailContainer .getInTouch div h3 {
  color: #441717;
  margin-right: 10%;
}
body .emailContainer .getInTouch div p {
  color: #441717;
  margin-left: 4%;
  font-size: 20px;
}
body .emailContainer .getInTouch div p span {
  color: #7E8F7C;
  font-weight: bold;
}
body .emailContainer .getInTouch h1 {
  color: #0F1723;
}
body .emailContainer .subscribe h1 {
  color: #0F1723;
  text-align: right;
}
body .emailContainer .subscribe .form-control {
  width: 70%;
  float: right;
  margin: 2% 0;
}
body .emailContainer .subscribe .submitButton {
  clear: both;
  float: right;
}
body .meetOurTeamContainer {
  text-shadow: 1px 2px 7px #aba1a1;
}
body .meetOurTeamContainer .row {
  margin-top: 5%;
}
body .meetOurTeamContainer .profile {
  padding: 4%;
}
body .meetOurTeamContainer .profile img {
  max-width: 80%;
  border-radius: 360px;
  box-shadow: 1px 1px 8px rgba(59, 54, 54, 0.74);
}
body .meetOurTeamContainer .profile h1 {
  color: #d22f25;
}
body .meetOurTeamContainer .profile p {
  letter-spacing: 1px;
  line-height: 20px;
}
body .profileContainer {
  text-shadow: 1px 2px 7px #aba1a1;
}
body .profileContainer .studentsH1 {
  margin-top: 6%;
  margin-bottom: 4%;
}
body .profileContainer .studentInfo {
  margin-top: -20px;
}
body .profileContainer .studentInfo .thumbnails {
  margin: 2%;
  margin-bottom: 5%;
}
body .profileContainer .studentInfo .thumbnails .thumbnail {
  margin: 5%;
}
body .profileContainer #carousel-text h2 {
  font-size: 45px;
  font-weight: bold;
  color: #d22f25;
  letter-spacing: 2.5px;
}
body .profileContainer .carousel-control {
  background: none !important;
}
body .profileContainer .hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 4%;
}
body .profileContainer .hide-bullets li {
  padding-left: 0;
  padding-right: 20px;
}
body .profileContainer .hide-bullets li .thumbnail {
  border: none;
  box-shadow: 1px 1px 4px rgba(59, 54, 54, 0.84);
  background-color: none;
  padding: 0px;
  margin-left: 0;
}
body .contactContainer {
  background-color: #424747;
  color: white;
  position: absolute;
  margin-bottom: 0px;
  width: 100%;
}
body .contactContainer .contactRowInfo {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
}
body .contactContainer .contactRowInfo .subscriptionInput {
  width: 50%;
}
body .contactContainer .contactRowInfo button {
  padding: 10px 20px;
  background-color: #d22f25;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  box-shadow: 1px 1px 4px rgba(59, 54, 54, 0.84);
}
body .contactContainer .contactRowInfo button:hover {
  transform: scale(1.025);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all .2s;
}
body .contributeBackground {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
body .contributeBackground img {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
body #contributeContainer {
  margin-top: 11%;
  margin-bottom: 5%;
  color: #EDF1F1;
  text-shadow: 1px 2px 7px #4e4949;
}
body #contributeContainer h1 {
  margin-bottom: 5%;
  font-size: 50px;
}
body #contributeContainer p {
  margin: 2% 13% 8% 13%;
  font-size: 22px;
}
body #contributeContainer select {
  color: black;
  margin-bottom: 5%;
}
body #contributeContainer .donate {
  width: 250px;
  height: 100px;
  padding: 20px 20px;
  background-color: #d22f25;
  border: none;
  border-radius: 3px;
  font-size: 35px;
  box-shadow: 1px 1px 4px rgba(59, 54, 54, 0.84);
}
body #contributeContainer .donate:hover {
  background-color: #F93D33;
  transform: scale(1.035);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all .3s;
}
body #contributeContainer img {
  max-width: 250px;
  margin-top: 5%;
}
body .contributeFooter {
  background-color: white;
  position: absolute;
  margin-bottom: 0px;
}
body .contributeFooter h3 {
  font-size: 30px;
  color: #441717;
  margin: 5%;
}
body .contributeFooter p {
  color: #441717;
  font-size: 20px;
  margin: 0% 20% 8% 20%;
}
body .contributeFooter .copyright div {
  margin-top: 5%;
}
body .contributeFooter .copyright div p {
  font-size: 15px;
  color: white;
  letter-spacing: 0.7px;
  margin-bottom: 4%;
}
body .contributeFooter .contributeContactRow {
  letter-spacing: 1px;
  padding-top: 2%;
  background-color: #424747;
}
body .contributeFooter .contributeContactRow .subscription {
  padding: 0% 7%;
}
body .contributeFooter .contributeContactRow .subscription p {
  color: #EDF1F1;
  margin: 0;
  margin-bottom: 4%;
  text-align: left;
}
body .contributeFooter .contributeContactRow .subscription input {
  width: 60%;
  border-radius: 3px;
  color: #EDF1F1;
}
body .contributeFooter .contributeContactRow .emailAddress p {
  color: #EDF1F1;
  text-align: right;
  margin: 0% 0% 3% 0%;
}
body .footerContainer {
  background-color: #424747;
  color: white;
}
body .footerContainer .bottomRow {
  margin-bottom: 3%;
  margin-top: 3%;
}
body .footerContainer .bottomRow .bronzeImg {
  margin-top: 2%;
}
body .footerContainer .bottomRow p {
  font-size: 16px;
}
body .footerContainer footer {
  text-align: center;
  margin-bottom: 20px;
}
body .contactPageContainer {
  color: #441717;
  text-shadow: 1px 2px 7px #aba1a1;
}
body .contactPageContainer .row:nth-child(1) {
  margin-top: 5%;
}
body .contactPageContainer h1 {
  font-size: 50px;
  margin-bottom: 5%;
}
body .contactPageContainer h2 {
  font-size: 35px;
}
body .contactPageContainer div p {
  font-size: 20px;
  margin-bottom: 5%;
}
body .contactPageContainer .usa {
  padding-left: 15%;
}
body .contactPageContainer .kenya {
  padding-right: 15%;
}
body .contactPageContainer .contactFooter {
  margin-top: 0;
}
body .contactPageContainer .contactFooter div {
  position: absolute;
  bottom: 0;
}
body .contactPageContainer .contactFooter div h4 {
  font-size: 15px;
}
@media screen and (max-width: 990px) {
  .profile h1 {
    margin: 8% 20%;
  }
}
@media screen and (max-width: 768px) {
  body .header div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  body .header div h1 {
    font-size: 32px;
    padding-top: 0;
    text-align: right;
  }
  body .header .logo img {
    margin-left: 0%;
    max-width: 100px;
    max-height: 82px;
    margin-top: 20px;
  }
  body .parallax-window {
    min-height: 160px;
  }
  body .parallax-window .btn {
    font-size: 38px;
  }
  body .whatWeDoDiv h1 {
    font-size: 40px;
  }
  body .whatWeDoDiv h2 {
    font-size: 30px;
  }
  body #nav .nav a {
    font-size: 15px;
    padding: 10px 0;
  }
  body #secondaryNav.affix .navbar-nav a {
    font-size: 15px;
  }
  body .emailContainer .subscribe h1 {
    text-align: left;
    font-size: 25px;
  }
  body .emailContainer .getInTouch h1 {
    font-size: 25px;
  }
  body .emailContainer .getInTouch div {
    margin-right: 0;
  }
  body .emailContainer .getInTouch div p {
    font-size: 15px;
  }
  body .footerContainer .bottomRow h1 {
    font-size: 20px;
  }
  body .footerContainer .bottomRow p {
    font-size: 12px;
  }
  body .profileContainer #carousel-bounding-box {
    width: 100%;
  }
  body .profileContainer #carousel-text h2 {
    margin-left: 0;
    margin-top: 30px;
  }
  body .profileContainer h1 {
    margin-top: 15%;
    font-size: 22px;
  }
  body .vidBackground {
    padding: 10px;
  }
  body .contactContainer .contactRowInfo {
    display: block;
    padding: 20px;
  }
  body .contactContainer .contactRowInfo .subscriptionInput {
    width: 100%;
    margin-bottom: 15px;
  }
  body .meetOurTeamContainer .row {
    margin-top: 20%;
  }
  body #contributeContainer h1 {
    font-size: 40px;
    margin-top: 15%;
  }
  body #contributeContainer p {
    margin: 2% 7% 8% 7%;
    font-size: 15px;
  }
  body #contributeContainer .donate {
    font-size: 14px;
    margin: 5% 6%;
    width: 150px;
    height: 60px;
  }
  body #contributeContainer img {
    max-width: 140px;
    margin-top: 0%;
  }
  body #contributeContainer select {
    color: rgba(126, 143, 124, 0.82);
    margin-top: 5%;
  }
  body .contributeFooter .taxExempt {
    padding: 7% 0;
  }
  body .contributeFooter .copyright p {
    font-size: 12px;
  }
  body .contributeFooter .contributeContactRow {
    padding-top: 5%;
    padding-bottom: 0;
  }
  body .contributeFooter .contributeContactRow .emailAddress p {
    text-align: center;
  }
  body .contributeFooter .contributeContactRow .subscription input {
    width: 80%;
    margin: 0 10%;
  }
  body .contributeFooter p {
    font-size: 14px;
    margin: 5% 6%;
  }
  body .contactPageContainer h1 {
    font-size: 40px;
    margin-top: 23%;
    margin-bottom: 2%;
  }
  body .contactPageContainer h3 {
    font-size: 16px;
  }
  body .contactPageContainer div p {
    margin-bottom: 3%;
  }
  body .contactPageContainer .usa {
    padding: 0;
  }
  body .contactPageContainer .kenya {
    padding: 0;
  }
  body .contactPageContainer .contactFooter div {
    position: relative;
  }
  body .contactPageContainer .contactFooter div h4 {
    font-size: 12px;
  }
  .navbar-toggle {
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 0;
    margin-right: 0;
  }
  /*	#contributeContainer p {
		margin: 2% 7% 8% 7%;
		font-size: 16px;
	}*/
}
